body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
}

/* Linkatributter hentet fra w3school */

a:link {
  color: gray;
  font-style: italic;
  font-weight: bolder;
}

a:visited {
  color: rgb(139, 98, 105);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(78, 22, 22);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.header {
  background-color: rgb(255, 239, 224);
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

/* header hover hentet fra w3school */

.header a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  color: rgb(230, 61, 42);
  text-decoration: none;
}

.header a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 50px;
}

.wrapping{
  overflow: auto;
}

.textblock {
  overflow: auto;
  width: 50%;
  padding: 0px 50px;

}

.text-column{
  overflow: auto;
  width: 50%;
  float: left;
}

.novid-logo-container{
  width: 100%;
}

.novid-logo{
  width: 50%;
}


.image {
  overflow: hidden;
  width: 50%;
}

.image-save-the-children{
  
}

.imageYoungChildren{
  float: left;
  
}

.imageChildren{
  float: right;
  
}

.imageNOvid{
  float: left;
  
}

.color2 {
  background-color: rgb(210, 150, 93);
}

.color3 {
  background-color: rgb(236, 236, 236);
}

.color4 {
  background-color: rgb(255, 250, 223);
  }

  .toTheTop{
    background-color: rgb(255, 250, 223);
    overflow: auto;
  }
  .toTheTop a{
    text-align: center;
        color:rgb(230, 61, 42)
  }
   

.footer{
  display: flex;
  background-color: rgb(255, 250, 223);
}

.contact {
  text-align: center;
  flex: auto;
  top: 0;
  background-color: rgb(255, 250, 223);
  overflow: auto;
  }

  
/* Box hentet fra Tengel sin undervisning*/
* {
  box-sizing: border-box;
}

[Class*="col-"]{
  float: left;
  padding: 1vw;
  border: 1px white;
}

.col-small-40{ width: 100%;}
.col-small-60{ width: 100%;}

@media only screen and (min-width: 1000px){
.col-tall-20{ width: 50%;}
.col-tall-80{ width: 50%;}
}


  