
body {
  font-family: Arial, Verdana, sans-serif;
}


.color1 {
  background-color: rgb(255, 239, 224);
}

.color2 {
  background-color: rgb(210, 150, 93);
}

.color3 {
  background-color: rgb(236, 236, 236);
}

.color4 {
  background-color: rgb(255, 250, 223);
}
