
body {
  font-family: Arial, Verdana, sans-serif;
}
/* Linkatributter hentet fra w3school */
a:link {
  color: gray;
  font-style: italic;
  font-weight: bolder;
}
a:visited {
  color: rgb(139, 98, 105);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(78, 22, 22);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


.header {
  background-color: rgb(255, 239, 224);
}

.color2 {
  background-color: rgb(210, 150, 93);
}

.color3 {
  background-color: rgb(236, 236, 236);
}

.color4 {
  background-color: rgb(255, 250, 223);
}
